.container{
    max-width:  1280px ;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.leftSide{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 300px;
}
.leftSide> h1 {
    font-size: 4rem;
    font-weight: 600;
}
.leftSide> h1 >span {
    color: #EFC600;
}
.leftSide> h2{
    font-size: 3rem;
    margin-bottom: 20px;
}
.leftSide> p{
    font-size: 16px;
}
.leftSide > a {
    display: block;
    margin-top: 20px;
    /* border: 1px solid red; */
    background-color: black;
    color: white;
    font-size: 15px;
    width: 85px;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.4s;
    padding: 8px;
}
.leftSide > a:hover{
    background-color: #EFC600;
    color: black;
}
.headerBtn{
    width: 130px;
    margin-top: 15px;
    padding: 8px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: 0.4s;
    cursor: pointer;
}
.headerBtn{
    color: white;
}
.headerBtn:hover{
    background-color: #EFC600;
    color: black;
}
.header_container{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerImage> img {
    width: 100%;
    height: 100%;
}
.headerImage{
    height: 600px;
    width: 600px;
}

@media (max-width:1160px) {
    .leftSide> h1 {
        font-size: 4rem;
        font-weight: 500;
    }
    .leftSide> h2{
        font-size: 3rem;
        margin-bottom: 15px;
    }
    .headerImage> img {
        width: 100%;
        height: 100%;
    }
    .headerImage{
        height: 500px;
        width: 500px;
    }
}
@media (max-width:987px){
    .leftSide> h1 {
        font-size: 3rem;
        font-weight: 500;
    }
    .leftSide> h2{
        font-size: 2rem;
        margin-bottom: 16px;
    }
    .headerImage> img {
        width: 100%;
        height: 100%;
    }
    .headerImage{
        height: 400px;
        width: 400px;
    }
}
@media (max-width:843px){
    .leftSide{
        /* border: 1px solid red;  */
        display: flex;
        order: 2;
        flex-direction: column; 
        justify-content: center;
        width: 600px;
        height: 300px;
    }
    .header_container{
 
        display: flex;
        order: 2;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}
@media (max-width:610px){
    .headerImage{
        height: 300px;
        width: 300px;
    }
    .leftSide{
        width: 350px;
    }
    .leftSide> h1 {
        font-size: 3rem;
        font-weight: 500;
    }
    .leftSide> h2{
        font-size: 2rem;
        margin-bottom: 16px;
    }

}